@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body{
    height: 100%;
    margin: 0;
    font-family: "Raleway", "Sans serif";
}

.menu{
    display: flex;
    justify-content: space-between;
}
nav img{
    display: flex;
    width: 107px;
    height: 50px; 
    align-items: center;
    padding-left: 3%;
    padding-top: 2%;
}
nav ul{
    width: 20%;
    justify-content: space-around;
    display: flex;
    padding-right: 2%;
}
a{
    text-decoration:none;
    color:#b8b5b5;
}
.h3-p{
    display: flex;
    flex-direction: column;
    margin:1%;
}
.recherche{
    display: flex;
    padding-left: 4%;
    width:26%;
    cursor: pointer;
}
.btn-search{
    display: flex;
    border-radius: 0px 10px 10px 0px;
    padding: 0.50rem 1.25rem;
    background-color:#0065fc;
    color: white;
    justify-content: center;
}
li{
    list-style-type: none;
    flex-direction: column;   
}
.icone_map{
    background-color:#F2F2F2;
    color:#0065FC;
    border-radius:10px 0 0 10px;
    padding: 0.50rem 0.50rem;
}
input{
    font-size: 1.6rem;
    width:100%
}
.search input.search{
    padding:1.7rem;
}
i{
    color:#0065FC;
}

.filter{
    padding:2%;
    align-items:center;
    width:80%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 34px;
    
}

.filterIcon {
    padding: 10px;
    border: 1px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color:#0065FC;
    width: 20px;
}
.fa-child{
    font-size: 19px;
    padding: 10px;
    text-align: center;
}


.btn-filter{
    display: flex;
    border-color : #DEEBFF;
    cursor: pointer;
    align-items:center;
    border: solid 1px;
    font-weight: bold;
    border-radius: 25px;
    white-space: nowrap;
}
.filterBorder{   
   width:15%;
   margin-left: 2%;
   margin-right: 2%;  
   border-color:#d4d4d4
}
.filterchild{
width:12%;
border-color:#d4d4d4
}
.filterDog{
width:18%;
border-color:#d4d4d4
}
.fa-circle-info{
    background-color: white;
    padding-right:1%;
    color: #0065FC;
}
article {
    margin-right: 4%;   
    width:65%;
    padding-left:4%;
    border-radius: 25px;
}
.hebergement_popularity{
    display: flex;
    padding: 3rem;
    padding-top: 2%;
}
 h3{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

#Hebergements{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;  
    justify-content:space-between;
    border-radius: 10px;
    background-color: #F2F2F2;
    width: 91%;
}
#Hebergements .card{
    display: flex;
    flex-direction : column;
    width: 31%;
    background-color: #fffefe;
    border-radius: 15px;
    box-shadow: 3px 5px 5px lightgrey;
    object-fit: cover;
    margin-bottom: 2%;
}
#Hebergements .card img{
border-radius: 10px 10px 0px 0px;
    height:100px;
    width:95%;
    padding:5px;
    border-radius:15px;
    object-fit: cover;
}
p {
    margin: 0;
    margin-left:4%;
}
.afficher{
margin:2%;
margin-bottom:4%;
font-weight: bold;
cursor: pointer;
}
.Popularity{
    width:28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 3%;
    background-color:#F2F2F2;
}
.Popularity .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 5px 5px lightgrey;
    width: 87%;
    padding: 0.2rem;
    margin:5%;
    border-radius: 10px;
    background-color: #fffefe;
}
.Popularity .card img {
    border-radius: 10px 0px 0px 10px;
    width: 110px;
    height: 110px;
    object-fit: cover;
}
#Activity{
    display: flex;
    justify-content: space-around;
    width: 96%;
    padding-bottom: 5%;
}
.activityLeft{
    display: flex;
    width: 40%;
    align-items: flex-start;
}
.activityRight{
    display: flex;
    width: 40%;  
    align-items: flex-start;
}
.cardHeb{
    display: flex;
    flex-direction:column;
    border-radius: 3%;
    box-shadow: 3px 5px 5px lightgrey;
    background-color: #fffefe;
}
.cardHeb img{
    height: 294px;
    width: 275px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.cardDoubleHeb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:7%;
    border-radius: 3%;
    background-color: #fffefe;
}
.cardDoubleHeb img{
    height: 120px;
    width: 275px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.cardFrioul{
    box-shadow: 3px 5px 5px lightgrey;
    margin-right: 40%;
    border-radius: 5%;
    width:100%;
    height:27%;
}
.cardPomegues{
    box-shadow: 3px 5px 5px lightgrey;
    width:100%;
    height:27%;
    margin-right: 40%;
    margin-bottom: 10%;
    border-radius: 5%;
}
.cardDame{
    box-shadow: 3px 5px 5px lightgrey;
    width:100%;
    height:27%;
    margin-right: 40%;
    margin-bottom: 10%;
    border-radius: 5%;
}
.cardParc{
    box-shadow: 3px 5px 5px lightgrey;
    width:100%;
    height:27%;
    border-radius: 5%;
}
.case-text{
    margin-left: 15px;
}
footer{
    margin-top:0;   
    width: 100%;
    background-color:#F2F2F2;
    display: flex;
    justify-content:space-around;
    align-items: center; 
}
footer strong {
    margin-bottom: 8%;
}

.propos{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top:1%;
    margin-bottom: 1%;
}
.charte{
    display: flex;
    flex-direction:column;
    
}
.assistance{
    display: flex;
    flex-direction: column;
}
 @media screen and (max-width: 768px){
    body{
        margin: 0;
        display: flex;
        flex-direction:column;
    }   
    nav ul{
        display: flex;
        justify-content: space-around;
        width: 20%;
    }
    .recherche{
        width:49%;
    }
    .filter{
        width:94%;
        display: flex;
        justify-content: space-between;
    }
   
    .filterBorder{
        width:31%;
    }
    .filterchild{
        width:24%;
    }
    .filterDog{
        width:41%;
    }
    .hebergement_popularity{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .case-text{
        white-space: wrap;
    }

    .Popularity{
        display: flex;
        width:89%;
        margin-right: 6%;
    }
    .Popularity .card{
        display:flex;
        flex-direction:column;
        border-radius:5%;
        white-space:nowrap;
    }
    .Popularity .card img{
        width:60%;
        border-radius:5%;
        padding:2%;
    }
    strong{
        flex-wrap: nowrap;
    }
    article {
        background-color:#F2F2F2;
        width:88%;
        margin-bottom: 7%;
        padding-left:4%;
        border-radius: 25px;
    }
    #Activity{
        display:flex;
        flex-direction: column;
        width: auto;
        padding-left: 10%;
        padding-bottom: 5%;
    }
    .activityLeft{
        padding-bottom: 4%;
    }
    .activity_h3{
        margin-left: 10%;
    }


    footer{
        width: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        margin-left: 10%;
    }
    .recherche {
        width: 73%;
        padding-left: 12%;
    }
    strong {
        margin-bottom: 2%;
    }
    .filter{
        display: flex;
        flex-direction: column;
        padding-bottom: 50%;
    }
    .filterBorder {
        width: 40%;
        margin-bottom: 3%;
    }
    .filterchild{
        width:40%;
        margin-bottom: 3%;
    }
    .filterDog{
        width:50%
    }
    #Hebergements{
        display: flex;
        flex-direction: column;
    }
    #Hebergements .card{
        width:80%;
    }
    .activityLeft{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-bottom: 2%;
    }
    .activityRight{
        display: flex;
        flex-direction: column;
        margin-left:10%;
        margin-bottom: 2%;
    }
    .cardHeb{
        display: flex;
      margin-bottom: 15%;
    }
    .cardDoubleHeb{
        margin-left:1%;
    }

    footer{
        display: flex;
        flex-direction: column;
    }
}
	