@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: "Raleway", "Sans serif";
}

.menu{
    display: flex;
    justify-content: space-between;
}
nav img{
    display: flex;
    width: 107px;
    height: 50px; 
    align-items: center;
    padding-left: 3%;
    padding-top: 2%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-right: 2%;
}
a:hover{
    border-top:1px solid #0065fc;
    padding-top:14px;
}

a{
    text-decoration:none;
    color:#b8b5b5;
}
header h3{
    margin-left: 4%;
}
.h3-p{
    display: flex;
    flex-direction: column;
}
.text-header{
    margin-right:1%;
    margin-bottom: 2%;
}
.recherche{
    display: flex;
    margin-left: 4%;
    margin-bottom: 1%;
    width:26%;
    cursor: pointer;
}
.btn-search{
    display: flex;
    border-radius: 0px 10px 10px 0px;
    padding: 0.50rem 1.25rem;
    background-color:#0065fc;
    color: white;
    justify-content: center;
}
.btn-search::before{
    content: "Recherche";
}

li{
    list-style-type: none;
    flex-direction: column;   
}
.icone_map{
    background-color:#F2F2F2;
    color:#0065FC;
    border-radius:10px 0 0 10px;
    padding: 0.50rem 0.50rem;
}
.fa-location-dot{
    color:black;
}
input{
    font-size: 12px;
    height: 2.2rem;
    width:100%
}
.search input{  
    border: 1px solid #F2F2F2;
    width: 100%;
}

.search input::placeholder{
    color : black;
    font-weight: bold;
}

i{
    color:#0065FC;
}

.filt{
    display: flex;
    flex-direction:row;
    align-items:center
}

.filter{
    padding:1%;
    align-items:center;
    width:80%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 34px;
    
}

.filterIcon {
    padding: 10px;
    border: 1px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color:#0065FC;
    width: 20px;
}
.fa-child{
    font-size: 19px;
    padding: 10px;
    text-align: center;
}

.btn-filter{
    display: flex;
    border-color : #DEEBFF;
    cursor: pointer;
    align-items:center;
    border: solid 1px;
    font-weight: bold;
    border-radius: 25px;
    white-space: nowrap;
}
.filterBorder{   
   width:14%;
   margin-left: 2%;
   margin-right: 2%; 
   padding-right: 4%; 
   border-color:#d4d4d4
}
.filterchild{
width:12%;
padding-right: 4%;
border-color:#d4d4d4
}
.filterDog{
width:18%;
padding-right: 6%;
border-color:#d4d4d4
}
.fa-circle-info{
    background-color: white;
    padding-right:1%;
    color: #0065FC;
}
article {
    margin-right: 3%;
    width: 60%;
    padding-left: 2%;
    border-radius: 25px;
    background-color: #F2F2F2
}
.hebergement_popularity{
    display: flex;
    padding: 3%;
    padding-top: 2%;
}
 h3{
    display: flex;
    flex-direction: column;
    margin-left: 3%
}

#Hebergements{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;  
    justify-content:space-between;
    border-radius: 10px;
    padding-top:3%;
    width: 96%;
}
#Hebergements .card{
    display: flex;
    flex-direction : column;
    width: 31%;
    background-color: #fffefe;
    border-radius: 15px;
    box-shadow: 3px 5px 5px lightgrey;
    object-fit: cover;
    margin-bottom: 2%;
    cursor: pointer;
}
#Hebergements .card img{
border-radius: 10px 10px 0px 0px;
    height:100px;
    width:95%;
    padding:5px;
    border-radius:15px;
    object-fit: cover;
}
p {
    margin: 0;
    margin-left:4%;
}
.note{
    margin-left:3%;
}
.fa-star-sharp{
    color: rgb(0, 0, 0);
}
.afficher{
margin:2%;
margin-bottom:4%;
font-weight: bold;
cursor: pointer;
}
.Popularity{
    width:35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 3%;
    background-color:#F2F2F2;
}
.head_popularity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    width: 85%;
}

.head_popularity .fa-star{
    color:black;
}


.Popularity .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 5px 5px lightgrey;
    width: 87%;
    padding: 0.2rem;
    margin:5%;
    border-radius: 10px;
    background-color: #fffefe;
    cursor: pointer;
}
.Popularity .card img {
    border-radius: 10px 0px 0px 10px;
    width: 110px;
    height: 110px;
    object-fit: cover;
}
#Activity{
    display: flex;
    justify-content: space-around;
    width: 92%;
    padding-bottom: 4%;
    margin-left: 4%;
    margin-right: 4%;
}
.activity_h3{
    margin-left: 6%;
}
.activityLeft{
    display: flex;
    width: 45%;
    margin-right: 1%;
    align-items: flex-start;
}
.activityRight{
    display: flex;
    width: 45%;  
    margin-left: 1%;
    align-items: flex-start;
}
.cardHeb{
    display: flex;
    flex-direction:column;
    border-radius: 3%;
    padding-bottom: 4%;
    box-shadow: 3px 5px 5px lightgrey;
    background-color: #fffefe;
    cursor: pointer;
    height : 100%;
}
.cardHeb img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.cardDoubleHeb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:5%;
    border-radius: 3%;
    background-color: #fffefe;
    cursor: pointer;
    width : 100%;
    height: 98%;
}
.cardDoubleHeb img{
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
    height: 83%; 
    
}
.cardFrioul{
    box-shadow: 3px 5px 5px lightgrey;
    width: 100%;
    padding-bottom: 6%;
    height: 35%;
    border-radius: 5%;
    
}
.cardFrioul img{
    height: 80%; 
    
}
.cardPomegues{
    box-shadow: 3px 5px 5px lightgrey;
    width: 100%;
    height: 55%;
    padding-bottom: 7%;
    border-radius: 5%;
    margin-bottom : 9%;
}

.cardPomegues img{
    height: 90%;
}

.cardDame{
    box-shadow: 3px 5px 5px lightgrey;
    width:100%;
    height:46%;    
    margin-bottom: 10%;
    padding-bottom: 5%;
    border-radius: 5%;
}
.cardParc{
    box-shadow: 3px 5px 5px lightgrey;
    width:100%;
    padding-bottom: 5%;
    height:46%;
    border-radius: 5%;
}
#Activity p {
    margin-top: 3%;
    font-size: 13px;
}
.case-text{
    margin-left: 7px;
}
footer{   
    display: flex;
    justify-content:flex-start;
    align-items: center; 
    width: 100%;
    background-color:#F2F2F2;
}

.propos{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-left: 5%;
}
.charte{
    display: flex;
    flex-direction:column;
    margin: 3%;
    margin-left: 15%;
    
}
.assistance{
    display: flex;
    flex-direction: column;
    margin: 3%;
    margin-left: 15%;
}

/*Pour le mobile*/
@media  (min-width: 320px) and (max-width: 767px) {
    body {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        width:100%;
         padding: 0;
         justify-content: normal;
    }
    nav ul li{
        width:50%;
        text-align: center;
    }
    a:hover{
        width: 100%;
        border-top:0px solid transparent;
    }
    nav ul li:hover{
        border-bottom:2px solid #0065FC;
        padding-bottom:6px;
    }
    nav ul li:active{
        border-bottom:2px solid #0065FC;
        padding-bottom:6px;
    }
    header h3 {
        width: 70%;
        margin-left: 11%;
    }
    .text-header{
        margin-left:11%;
    }
    h3 {
        margin-left: 2%;
    }
    .recherche {
        width: 90%;
        margin-top: 4%;
        margin-bottom: 3%;
        justify-content: center;
    }
    .btn-search{
        width: 1%;
        border-radius: 23%;
    }
    .icone_map{
    display: flex;
    width: 6%;
    justify-content: center;
    align-items: center;
    }
    input {
        font-size: 20px;
        height: 40px;
        width: 100%;
    }
    .btn-search::before{
        display: flex;
        font-family: "Font Awesome 5 free";
        font-weight: 900;
        content: "\f002";
        align-items: center;
    }
    .filt strong {
        margin-bottom: 2%;
        margin-left: 64%;
    }

    .filt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15%;
        width:90%;
    }
    .filter{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 4%;
        margin-left: 8%;
        margin-bottom: 17%;
        width:100%;
    }
    .filterBorder {
        width: 37%;
        margin-bottom: 3%;
        margin-right: 10%;
    }
    .btn-filter:hover {
        box-shadow: 3px 5px 5px lightgrey;
        color:#0065fc;
    }
    .filterchild{
        width:30%;
        margin-bottom: 3%;
    }
    .filterDog{
        width:58%;
        margin-left: 2%;
    }
   
    .info{
        width: 60%;
        margin-left: 8%;
    }
    article {
        margin-left: 2%;  
        width:98%;
        padding-left:0%;
        background-color: white;
    }
    article .card{
        width:100%;
    }
    .hebergement_popularity {
        display: flex;
        flex-direction: column-reverse;
        width: 94%;
    }
    #Hebergements{
        display: flex;
        width: 97%;
        flex-direction: column;
    }
    #Hebergements .card{
        width:98%;
        margin-bottom: 5%;
    }
    .case-text {
        margin-left: 1px;
    }
    #Hebergements .card img {
        height: 135px;
        width: 98%;
        padding: 5px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    strong{
        white-space: normal;
    }

    .Popularity{
        width:100%; 
        margin-top: 4%; 
    }
    .Popularity .card{
        display: flex;
        width: 90%;
    }
    .Popularity .card img {
        height: 135px;
        width: 45%;
    }
    .Popularity .note{
        padding-top:24%
    }
    .activity_h3 {
        margin-left: 4%;
    }
    #Activity{
        display: flex;
        flex-direction: column;
        width: 93%;
        margin-left: 2%;
        
    }
    #Activity img {
        height: 200px;
        width: 99%;
        padding: 1%;
        border-radius: 6%;
        object-fit: cover;
    }
    .activityLeft{
        display: flex;
        flex-direction: column;
        width:100%;
        margin-left: 1%;
        margin-bottom: 2%;
    }
    .activityRight{
        display: flex;
        flex-direction: column;
        width:100%;
        margin-bottom: 2%;
    }
    .cardHeb{
        display: flex;
        width: 100%;
        margin-bottom: 10%;
    }
    .cardDoubleHeb{
        margin-left:0%;
        width: 100%;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 10%;
    }

    .propos, .charte, .assistance{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-left: 8%;
        margin-top:3%;
        margin-bottom:3%;
    }
}

/*Pour la tablette*/
 @media (min-width: 768px) and (max-width: 992px){
     nav ul {
         margin-right: 5%;
     }
     article{
         width: 98%;
     }
    h3 .Popularity{
    margin-left: 0;
    }
    .hebergement_popularity{
        display: flex;
        flex-direction: column-reverse;
     }
     .Popularity .card img {
        width: 251px;
        height: 131px;
    }
    .activity_h3 {
        margin-left: 6%;
    }
     .filterDog {
        width: 26%;
    }
    .filterBorder {
        width: 19%;
    }
    .filterchild {
        width: 15%;
    }
    .Popularity{
        width:100%;
        margin-bottom: 5%;
    }
}




	