@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body{
    height: 100%;
    margin: 0;
    font-family: "Raleway", "Sans serif";
    display: flex;
    flex-direction: column
}

.menu{
    display: flex;
    justify-content: space-between;
}
nav img{
    display: flex;
    width: 107px;
    height: 50px; 
    align-items: center;
    padding-left: 6%;
    padding-top: 3%;
}
nav ul{
    width: 20%;
    justify-content: space-around;
    display: flex;
    padding-right: 4%;
}
li :hover{
    transform: scaleX();
    border-top: 1px solid #0065FC;
    padding-top:15px;
    text-decoration: none;
    color: #0065FC;
}
a{
    text-decoration:none;
    color:#b8b5b5;
}
.h3-p{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin:15px;
}
.recherche{
    display: flex;
    padding-left: 4%;
    cursor: pointer;
}
.btn-search{
    display: flex;
    border-radius: 0px 10px 10px 0px;
    padding: 0.50rem 1.25rem;
    background-color:#0065fc;
    color: white;
    justify-content: center;
}
li{
    list-style-type: none;
    flex-direction: column;   
}


.icone_map{
    background-color:#F2F2F2;
    color:#0065FC;
    border-radius:10px 0 0 10px;
    padding: 0.50rem 0.50rem;
}
input{
    font-size: 1.6rem;
}
.search input.search{
    padding:1.7rem;
}
i{
    color:#0065FC;
}

.filter{
    display: flex;
    flex-direction: row;
    padding:2%;
    padding-left: 1%;
    align-items:center;
}
.btn-filter{
    display: flex;
    justify-content:space-between;
    height: 30px;
}
.eco{
   display: flex;
   width: 22%;
   padding-left: 2%;
   padding-right: 8%;
   cursor: pointer;
   margin-left: 2%;
   margin-right: 7%;
   align-items:center;
   justify-content:center;
   border: solid 1px;
   font-weight: bold;
   border-radius: 25px;
}
.fa-money-bill-1-wave{
    border: 1px;
    padding: 8%;
    border-radius: 25px;
    background-color: #DEEBFF;
    color:#0065FC;
}
.familial{
    display: flex;
    width: 22%;
    padding-right: 6%;
    margin-left: 2%;
    margin-right: 7%;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    border: solid 1px;
    font-weight: bold;
    border-radius: 25px;
 }
 .fa-child{
     border: 1px;
     padding: 11%;
     border-radius: 25px;
     background-color: #DEEBFF;
     color:#0065FC;
 }
 .romantique{
    display: flex;
    width: 22%;
    padding-left: 3%;
    padding-right: 8%;
    margin-right: 7%;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    border: solid 1px;
    font-weight: bold;
    border-radius: 25px;
 }
 .fa-heart{
     border: 1px;
     padding: 11%;
     border-radius: 25px;
     background-color: #DEEBFF;
     color:#0065FC;
 }
 .animaux{
    display: flex;
    width: 22%;
    padding-left: 3%;
    padding-right: 10%;
    align-items:center;
    justify-content:center;
    white-space: nowrap;
    cursor: pointer;
    border: solid 1px;
    font-weight: bold;
    border-radius: 25px;
 }
 .fa-dog{
     border: 1px;
     padding: 11%;
     border-radius: 25px;
     background-color: #DEEBFF;
     color:#0065FC;
 }
 .fa-circle-info{
     background-color: white;
     padding-right:1%;
     color: #0065FC;
 }
#herbergement_popularity{
    display: flex;
    width: 92%;
    padding: 4%;
}
h3{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}
#Hebergements{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    margin-right: 2rem;
    justify-content:space-between;
    border-radius: 10px;
    background-color: #F2F2F2;
    width: 91%;
}
#Hebergements .card img{
border-radius: 10px 10px 0px 0px;
}

.afficher{
margin:2%;
margin-bottom:4%;
font-weight: bold;
cursor: pointer;
}

.Popularity{
    width:28%;
    display: flex;
    padding:1rem;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color:#F2F2F2;
}
.Popularity .card{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Popularity .card img {
    border-radius: 10px 0px 0px 10px;
    width: 96px;
}
#Activity{
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    padding-bottom: 2%;
    padding-left: 4%;
    white-space: nowrap;
}
.activity1_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#Activity .card img{
    object-fit: cover;
    height: 310px;
    width: 225px;
    border-radius: 10px 10px 0px 0px;
}
#Activity .activity2 .card img{
    height: 130px;
    
}
#Activity .activity2 .case-text{
white-space: nowrap;
}
.activity2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 7%;
}
/*#region card*/
.card{
    width: 200px;
    background-color: #fffefe;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 2%;
}

/*#endregion */
.Popularity .card{
    width:100%;
    display: flex; 
    flex-direction: row;
}
.Activity .card{
    height: 300px;
    width: 260px;
    background-color: #fbf9f9;
}
.Activity img{
    height: 250px;
    width: 250px;
}
.case-text{
    margin-left: 15px;
}
img {
    height:100px;
    width:95%;
    padding:5px;
    border-radius:15px ;
}
p {
    margin: 0;
    margin-left:4%;
}
footer{
    margin-top:0;   
    width: 100%;
    background-color:#F2F2F2;
    display: flex;
    justify-content:space-around;
    align-items: center; 
}
footer strong {
    margin-bottom: 8%;
}

.propos{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top:2%;
}
article {
    background-color:#F2F2F2;
    margin-right: 4%;
    width:65%;
    padding-left:4%;
    border-radius: 25px;
}
.charte{
    display: flex;
    flex-direction:column;
}
.assistance{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px){
    body{
        margin: 0;
        display: flex;
        flex-direction:column;
    }
    nav ul{
        width: 20%;
        justify-content: space-around;
        display: flex;
    }
    li{
        display: flex; 
    }
    #herbergement_popularity{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    .Popularity{
        display: flex;
        width:74%;
        margin-left: 13%;
    }
    article {
        background-color:#F2F2F2;
        margin-right: 4%;
        width:58%;
        margin-bottom: 7%;
        margin-left: 4%;
        padding-left:4%;
        border-radius: 25px;
    }
    #Activity{
        display:flex;
        flex-direction: column;
    }
    .activity2{
        display: flex;
        flex-direction:column;  
        margin-left: 5%;
        margin-right: 7%;
    }
.activity1_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    footer{
        width: 100%;
    }
}
    @media screen and (max-width: 768px){}